<div *ngIf="this.state != 'edit'" class="container pre-scrollable" style="overflow-y: auto">
  <div class="container">
    <form class="translate-form">
      <div class="row">
        <div class="col">
          <div class="md-form">
            <textarea mdbInputDirective placeholder="text to translate" [(ngModel)]="text.preTranslation" type="text"
                      id="translate-from"
                      class="md-textarea form-control" rows="1" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col">
          <ng-select [ngModelOptions]="{standalone: true}" [items]="availableLanguages"
                     bindLabel="name"
                     bindValue="id"
                     [(ngModel)]="language.from">
          </ng-select>
        </div>

        <div class="col">
          <ng-select [ngModelOptions]="{standalone: true}" [items]="availableLanguages"
                     bindLabel="name"
                     bindValue="id"
                     [(ngModel)]="language.to">
          </ng-select>
        </div>

      </div>

      <div class="text-center">
        <button class="btn btn-default waves-light" (click)="translate()" mdbRippleRadius>Translate</button>
      </div>
    </form>
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <div *ngIf="text.postTranslation != ''" class="card mdb-color lighten-5 text-center z-depth-2">
            <div class="card-body">
              <h5>{{text.postTranslation}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="state === 'edit'" class="container" align="center">
  <div class="row justify-content-center"><h4 style="color: darkslateblue">Translate</h4></div>
  <div class="row justify-content-center">
    <i class="fa fa-language fa-4x" style="padding-top: 20px; color: darkslateblue" aria-hidden="true"></i>
  </div>
</div>
