<div class="card card-body">
  <div class="container">
    <div class="row justify-content-end">
      Mode: &nbsp; &nbsp;
      <div class="btn-group">

        <label class="btn btn-blue-grey btn-sm waves-light" [(ngModel)]="mode" mdbRadio="normal" mdbRippleRadius>
          Normal
        </label>

        <label class="btn btn-blue-grey btn-sm waves-light" [(ngModel)]="mode" mdbRadio="edit" mdbRippleRadius>
          Edit
        </label>

      </div>
    </div>


    <hr>
    <h4 align="center">dashboard is empty</h4>
    <hr>


    <div *ngIf="editMode()" class="row justify-content-end">
      <div class="btn-group">
        <button (click)="addWidget()" class="btn btn-blue-grey btn-sm">Add Widget</button>
        <button (click)="cancelEditMode()" class="btn btn-blue-grey btn-sm">Cancel</button>
        <button (click)="saveEdit()" class="btn btn-blue-grey btn-sm">Done</button>
      </div>
    </div>

  </div>
</div>

<style>
  /* widget class for the cards with apps */
  .widget {
    margin: 2px;
  }
</style>
