<div *ngIf="isState('edit')" class="container">
  <div class="row justify-content-end">
    <div class="col">
      <div class="md-form">
        <b>Username:</b> <input type="text" class="form-control" [(ngModel)]="user.username"/>
      </div>
    </div>
    <div class="col">
      <div class="md-form">
        <b>Email:</b> <input type="text" class="form-control" [(ngModel)]="user.email"/>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <button class="btn btn-sm btn-blue-grey" (click)="setState('normal')">Back</button>
    <button class="btn btn-sm btn-blue-grey" (click)="saveUser()">Save</button>
  </div>
</div>

<div *ngIf="isState('normal')" class="container">
  <div class="row justify-content-center">
    Username: {{user.username}} <br>
  </div>
  <div class="row justify-content-center">
    Email: {{user.email}} <br>
  </div>
  <hr>
  <div class="row justify-content-end">
    <button class="btn btn-sm btn-blue-grey" (click)="setState('edit')">Edit</button>
  </div>
</div>

