<mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <mat-card class="registration-card">
        <mat-card-content>
          <form class="registration-form">
            <mat-form-field>
              <input matInput [(ngModel)]='user.username' placeholder="Username" name="username"/>
            </mat-form-field><br>

            <mat-form-field>
              <input matInput type="password" [(ngModel)]='user.password' placeholder="Password" name="password"/>
            </mat-form-field><br>

            <mat-form-field>
              <input matInput type="email" [(ngModel)]='user.email' placeholder="Email address" name="email-address"/>
            </mat-form-field><br>

            <button mat-raised-button color="primary" (click)="register()" [disabled]=false>Register</button>
          </form>
          <br>
          or <a routerLink="/login">login</a>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>

