<div class="modal-header">
  <h4 class="modal-title">Settings</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container">

    <div class="row">
      <div class="col">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" (click)="setActive('profile')">Profile</a>
          <a class="list-group-item list-group-item-action" (click)="setActive('accounts')">Accounts</a>
          <a class="list-group-item list-group-item-action" (click)="setActive('widgets')">Widgets</a>
        </div>
      </div>

      <div class="col">
        <div [ngSwitch]="activeCard">
          <profile-content *ngSwitchCase="'profile'"></profile-content>
          <accounts-content *ngSwitchCase="'accounts'"></accounts-content>
          <widgets-content [state]="list" *ngSwitchCase="'widgets'"></widgets-content>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>








