<alert [alerts]="alerts"></alert>
<div *ngIf="isState('list')" class="container" align="center">

  <h3 i18n>Your accounts:</h3>

  <div *ngFor="let account of accountList; let i = index;">
    <a (click)="setCurrentAccount(i)"><b>{{ account.name }}</b></a>
  </div>

</div>

<div *ngIf="isState('detail')" class="container">

  <div class="row justify-content-center">
    <h3 align="center">{{ accountList[currentAccount].name }}</h3>
  </div>

  <div class="row justify-content-center">
    <p align="center"><b>Type:</b> {{ accountList[currentAccount].type }}</p>
  </div>

  <div class="row justify-content-center">
    <p align="center" *ngIf="accountList[currentAccount].info; else noInfo"> {{ accountList[currentAccount].info }}</p>
    <ng-template #noInfo>
      <p align="center">
        <i><ng-container i18n>No info provided</ng-container></i>
      </p>
    </ng-template>

  </div>

  <hr>

  <div class="row">
    <div class="col">
      <a (click)="setState('list')"><i class="fa fa-arrow-left return-icon" aria-hidden="true"></i>
        <ng-container i18n>return</ng-container></a>
    </div>

    <div class="col" align="right">
      <button class="btn btn-sm btn-red" (click)="deleteAccount()">
        <ng-container i18n>Delete</ng-container>
      </button>
    </div>
  </div>
</div>

<style>
  .return-icon {
    color: grey;
  }
</style>




