<div class="modal-header">
  <h4 class="modal-title">Add Widget</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="list-group">
          <alert [alerts]="alerts"></alert>
          <div *ngFor="let app of appList; let i = index;" class="list-group-item">
            <div class="container">
              <div class="row">
                <div class="col-5">
                  <b>{{app.name}}</b>
                </div>
                <div class="col-6">
                  <p style="font-size: small">{{app.description}}</p>
                </div>
                <div class="col-1" align="right">
                  <a (click)="addWidget(appList[i].id)">
                    <i style="color: dodgerblue; font-size: small">add</i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
