<div class="modal-header">
  <h4 class="modal-title">Add Widget</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="list-group">

          <a *ngFor="let app of appList; let i = index;" class="list-group-item">
            <div class="container">
              <div class="row">
                <div class="col">
                  <b>{{app.name}}</b>
                </div>
                <div class="col" align="right">
                  <a ngbTooltip="{{app.description}}">
                    <i class="fa fa-eye add-widget-icon add-widget-eye-icon"
                       aria-hidden="true"></i>
                  </a>
                  <a (click)="addWidget(i)">
                    <i class="fa fa-plus add-widget-icon" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>

<style>
  .add-widget-icon {
    color: darkgrey;
  }

  .add-widget-eye-icon {
    padding-right: 5px;
  }
</style>
