<div *ngIf="isState('edit')" class="container">
  <div class="row justify-content-end">
    <div class="col">
      <div class="md-form">
        <b>Username:</b> <input type="text" class="form-control" [(ngModel)]="user.username"/>
      </div>
    </div>
    <div class="col">
      <div class="md-form">
        <b>Email:</b> <input type="text" class="form-control" [(ngModel)]="user.email"/>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">


    <div class="col">
      <a (click)="setState('normal')"><i class="fa fa-arrow-left return-icon" aria-hidden="true"></i> return</a>
    </div>

    <div class="col" align="right">
      <button class="btn btn-sm btn-blue-grey" (click)="saveUser()">Save</button>
    </div>

  </div>
</div>

<div *ngIf="isState('normal')" class="container">

  <div *ngFor="let alert of alerts" class="notification">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </div>

  <div class="row justify-content-center">
    Username: {{user.username}} <br>
  </div>
  <div class="row justify-content-center">
    Email: {{user.email}} <br>
  </div>
  <hr>
  <div class="row justify-content-center">
    <a (click)="setState('edit')"><i class="fa fa-pencil fa-lg return-icon" aria-hidden="true"></i></a>
  </div>
</div>

<style>
  .return-icon {
    color: grey;
  }
</style>
