<div class="row">
  <div class="col col-lg-3">
    <div class="btn-group">

      <button type="button" (click)="openSettings()" class="btn btn-sm btn-secondary waves-light" mdbRippleRadius>
        <i class="fa fa-wrench mr-1"></i>Settings
      </button>

      <div class="btn-group">
        <div class="dropdown-sm" dropdown>

          <button dropdownToggle type="button" class="btn btn-sm btn-secondary dropdown-toggle waves-light"
                  mdbRippleRadius>
            Add
          </button>

          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="openAddWidget()">Widget</a>
            <a class="dropdown-item" (click)="openAddAccount()">Account</a>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="col col-lg-6">
    <h3 class="h3-responsive" align="center">DASHBOARD</h3>
  </div>

  <div class="col col-lg-3" align="right">
    <div class="btn-group">
      <div class="dropdown-sm" dropdown>

        <button dropdownToggle type="button" class="btn btn-sm btn-secondary dropdown-toggle waves-light"
                mdbRippleRadius>
          {{ username }}
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="openProfile()">Profile</a>
          <a class="dropdown-item" (click)="openAbout()">About</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>

      </div>
    </div>
  </div>

</div>



