<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light grey lighten-3">

  <logo>
    <a class="navbar-brand" href="#"><b>DASHBOARD</b></a>
  </logo>

  <links>
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link waves-light" (click)="openAbout()" mdbRippleRadius>About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" (click)="openSettings()" mdbRippleRadius>Settings</a>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Profile<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" (click)="openProfile()" mdbRippleRadius>Edit profile</a>
          <a class="dropdown-item waves-light" (click)="logout()" mdbRippleRadius>Logout</a>
        </div>
      </li>

    </ul>

    <span class="navbar-nav purple-text">
      <li class="nav-item">
        <b>Welcome, {{username}} !</b>
      </li>
    </span>

  </links>

</mdb-navbar>
