  <div class="card card-body {{ setOverlay() }}" [ngStyle]="{'height.px': widget.size_y}">
    <div class="mask" *ngIf="isState('edit')">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col" align="right">
            <div class="btn-group">

              <div class="btn-group-sm widget-control" dropdown>
                <button dropdownToggle type="button"
                        class="btn btn-blue-grey btn-sm dropdown-toggle waves-light" mdbRippleRadius>
                  <ng-container i18n>Size</ng-container>
                </button>
                <div class="dropdown-menu dropdown-primary">
                  <a (click)="changeSize(4,300)"
                     [class.disabled]="!allowsSmallSizes()" class="dropdown-item">
                    <ng-container i18n>Very small</ng-container></a>
                  <a (click)="changeSize(5,350)"
                     [class.disabled]="!allowsSmallSizes()" class="dropdown-item">
                    <ng-container i18n>Small</ng-container></a>
                  <a (click)="changeSize(6,450)" class="dropdown-item">
                    <ng-container i18n>Medium</ng-container></a>
                  <a (click)="changeSize(8,450)" class="dropdown-item">
                    <ng-container i18n>Big</ng-container></a>
                  <a (click)="changeSize(12,450)" class="dropdown-item">
                    <ng-container i18n>Very big</ng-container></a>
                </div>
              </div>

              <a (click)="deleteWidget()">
                <i class="fa fa-remove fa-2x widget-control"></i>
              </a>

            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>

    <application [widget]="widget" [dashboardState]="state"></application>

  </div>

<style>

  .widget-control {
    padding-top: 20px;
    padding-right: 15px;
    color: purple;
  }

</style>
