<div *ngIf="isState('normal'); else editState" class="container">

  <div class="btn-group" style="padding-bottom: 10px;">
    <button (click)="view='month'" class="btn btn-sm">Month</button>
    <button (click)="view='week'" class="btn btn-sm">Week</button>
    <button (click)="view='day'" class="btn btn-sm">Day</button>
    <button (click)="getEvents()" class="btn btn-blue-grey btn-sm">Sync</button>
  </div>

  <div class="btn-group" style="padding-bottom: 10px;">
    <p><b>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }} </b></p>
    &nbsp;&nbsp;

    <div mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
      <a><i>previous</i></a>
    </div>
    &nbsp;&nbsp;
    <div mwlCalendarToday [(viewDate)]="viewDate">
      <a><i>today</i></a>
    </div>
    &nbsp;&nbsp;
    <div mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
      <a><i>next</i></a>
    </div>
  </div>

  <div class="pre-scrollable" style="max-height: 300px; overflow-x: hidden;">
    <div *ngIf="view == 'month'" class="alert alert-info">
      <strong> {{ viewDate | date:'medium' }}</strong>
      <ul *ngFor="let event of currentEvents">
        <div *ngIf="event.allDay" style="color: blue;">{{event.title}} <i style="color: black">(all day)</i></div>
        <div *ngIf="!event.allDay">{{event.title}}
          {{event.start.getHours()}}:{{("0" + event.start.getMinutes()).substr(-2)}} -
          {{event.end.getHours()}}:{{("0" + event.end.getMinutes()).substr(-2)}}</div>
      </ul>
    </div>

    <div class="row">
      <div class="col">
        <div [ngSwitch]="view" class="container">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
                                   (dayClicked)="dayClicked($event.day);">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
                                  (dayHeaderClicked)="clickedDate = $event.day.date">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [hourSegmentHeight]="25"
                                 [hourSegments]="1" [dayStartHour]="8" [dayEndHour]="20">
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editState>
  <div class="container" align="center">
    <i class="fa fa-calendar fa-4x icon-calendar" aria-hidden="true"></i>
  </div>
</ng-template>


<style>
  .icon-calendar {
    color: cadetblue;
    padding-top: 20px;
  }
</style>


