<div *ngIf="isState('normal')" class="container">

  <div class="btn-group" style="padding-bottom: 10px;">
    <button (click)="view='month'" class="btn btn-sm">Month</button>
    <button (click)="view='week'" class="btn btn-sm">Week</button>
    <button (click)="view='day'" class="btn btn-sm">Day</button>
    <button *ngIf="modal" (click)="loadEvents()" class="btn btn-blue-grey btn-sm">Sync</button>
  </div>

  <div class="btn-group" style="padding-bottom: 10px;">
    <div mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
      <a><i>previous</i></a>
    </div>
    &nbsp;&nbsp;
    <div mwlCalendarToday [(viewDate)]="viewDate">
      <a><i>today</i></a>
    </div>
    &nbsp;&nbsp;
    <div mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
      <a><i>next</i></a>
    </div> &nbsp;&nbsp;
    <a (click)="view='create'" style="color: purple"><b>new event</b></a>
  </div>

  <div [ngClass]="{'pre-scrollable': !modal, 'calendar-scroll': !modal}">
    <div *ngIf="view == 'month'" class="alert alert-info">
      <strong> {{ viewDate.toDateString() }}</strong>
      <ul *ngFor="let event of currentEvents; let i = index">

        <div *ngIf="event.allDay" style="color: blue;">
          {{event.title}} <i style="color: black">(all day)</i>
          &nbsp;
          <a (click)="editEvent(i)"> <i class="fa fa-pencil" aria-hidden="true" style="color: black"></i> </a>
          <a (click)="removeEvent(i)"> <i class="fa fa-remove" aria-hidden="true" style="color: darkred"></i> </a>
        </div>

        <div *ngIf="!event.allDay">{{event.title}}
          {{event.start.getHours()}}:{{("0" + event.start.getMinutes()).substr(-2)}} -
          {{event.end.getHours()}}:{{("0" + event.end.getMinutes()).substr(-2)}}
          &nbsp;
          <a (click)="editEvent(i)"> <i class="fa fa-pencil" aria-hidden="true" style="color: black"></i> </a>
          <a (click)="removeEvent(i)"> <i class="fa fa-remove" aria-hidden="true" style="color: darkred"></i> </a>
        </div>
      </ul>
    </div>

    <div class="row">
      <div class="col">

        <div class="container" *ngIf="(view == 'edit') || (view == 'create')">
          <alert [alerts]="alerts"></alert>
        </div>

        <div [ngSwitch]="view" class="container">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
                                   (dayClicked)="dayClicked($event.day);">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [hourSegmentHeight]="25"
                                 [hourSegments]="1" [dayStartHour]="8" [dayEndHour]="20">
          </mwl-calendar-day-view>

          <div *ngSwitchCase="'create'" align="center">

            <form class="new-event-form" style="max-width: 450px">
              <p class="h5 text-center mb-4">New Event</p>

              <div class="md-form">
                <input autocomplete="none" type="text" id="event-title" [(ngModel)]="new_event.title" name="title" class="form-control"
                       mdbActive>
                <label for="event-title">Title</label>
              </div>
              <div class="container">
                From: <input [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                            [(ngModel)]="selectedMoments"
                            [selectMode]="'rangeFrom'"
                            [ngModelOptions]="{standalone: true}">
                <owl-date-time #dt12></owl-date-time>
              </div>

              <div class="container" style="padding-top: 10px">
                To: <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                         [(ngModel)]="selectedMoments"
                         [selectMode]="'rangeTo'"
                         [ngModelOptions]="{standalone: true}">
                <owl-date-time #dt13></owl-date-time>
              </div>

              <div class="text-right" style="padding-top: 5px">
                <button class="btn btn-default waves-light" (click)="createEvent()" mdbRippleRadius>Save</button>
              </div>

            </form>

          </div>

          <div *ngSwitchCase="'edit'" align="center">
            <form class="new-event-form" style="max-width: 450px">
              <p class="h5 text-center mb-4">Edit Event</p>

              <div class="md-form">
                <input autocomplete="none" type="text" id="edit-event" [(ngModel)]="edit_event.title" name="title" class="form-control"
                       mdbActive>
                <label for="event-title">Title</label>
              </div>

              <div class="container">
                From:<input [owlDateTimeTrigger]="dt14" [owlDateTime]="dt14"
                            [(ngModel)]="selectedEditedMoments"
                            [selectMode]="'rangeFrom'"
                            [ngModelOptions]="{standalone: true}">
                <owl-date-time #dt14></owl-date-time>
              </div>

              <div class="container" style="padding-top: 10px">
                To:<input [owlDateTimeTrigger]="dt15" [owlDateTime]="dt15"
                          [(ngModel)]="selectedEditedMoments"
                          [selectMode]="'rangeTo'"
                          [ngModelOptions]="{standalone: true}">
                <owl-date-time #dt15></owl-date-time>
              </div>

              <div class="text-right" style="padding-top: 5px">
                <button class="btn btn-default waves-light" (click)="saveEditEvent()" mdbRippleRadius>Edit</button>
              </div>

            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="state === 'edit'">
  <div class="container" align="center">
    <div class="row justify-content-center"><h4 style="color: cadetblue">Google Calendar</h4></div>
    <div class="row justify-content-center">
      <i class="fa fa-calendar fa-4x icon-calendar" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div *ngIf="noAccount && (state != 'edit')" align="center">
  There is no Google account assigned to this widget. Please add one: <br>
  <button class="btn btn-blue-grey" (click)="addAccount()">Add Account</button>
</div>

<style>
  .icon-calendar {
    color: cadetblue;
    padding-top: 20px;
  }

  .calendar-scroll {
    max-height: 290px;
    overflow-x: hidden;
  }
</style>


