<div class="container">
  <div class="row justify-content-center title-container">
    <h1 i18n>Welcome to Dashboard!</h1>
  </div>
  <div class="row justify-content-center">
    <p i18n>Interactive workspace for your applications</p>
  </div>
</div>

<hr>

<div class="container">
  <p align="center">
    <ng-container i18n>Before starting, please</ng-container>
    <a routerLink="login">
      <ng-container i18n>login</ng-container>
    </a>
    <ng-container i18n>, or</ng-container>
    <a routerLink="register">
      <ng-container i18n>register</ng-container>
    </a>
    <ng-container i18n>if you're new here!</ng-container>
  </p>
  <router-outlet></router-outlet>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card card-body info-card">
        <h4 i18n>About</h4>
        <p i18n>
          Dashboard is a web application, which allows you to manage and use applications of your choice.
        </p>
        <p i18n>You can simply add them to your dashboard and arrange to your liking.</p>
      </div>
    </div>

    <div class="col">
      <div class="card card-body info-card">
        <h4 i18n>Create your own application</h4>
        <p i18n>If you are a developer, you can create your own custom application for the dashboard!</p>
        <p><ng-container i18n>Download developer manual here:</ng-container>
          <a href='assets/dev_manual.pdf' download>
            <ng-container i18n>download</ng-container>
          </a>
        </p>
      </div>
    </div>

  </div>
</div>

<style>
  .info-card {
    min-height: 200px;
  }

  .title-container {
    padding-top: 30px;
  }

</style>





