<div class="container">
  <div class="row justify-content-center title-container">
    <h1>Welcome to Dashboard!</h1>
  </div>
  <div class="row justify-content-center">
    <p>Interactive workspace for your applications</p>
  </div>
</div>

<hr>

<div class="container">
  <p align="center">Before starting, please <a routerLink="login">login</a>, or <a routerLink="register">register</a> if
    you're new here!</p>
  <router-outlet></router-outlet>
</div>


<div class="container">
  <div class="row">

    <div class="col">
      <div class="card card-body info-card">
        <h4>Tutorial</h4>
        <p>
          <!-- Redirect to user manual -->
        </p>
      </div>
    </div>

    <div class="col">
      <div class="card card-body info-card">
        <h4>About</h4>
          <!-- Something about the app -->

        <p>Dashboard is a web application, which allows you to manage and use applications of your choice. </p>
        <p>You can simply add them to your dashboard and arrange to your liking.</p>
      </div>
    </div>

    <div class="col">
      <div class="card card-body info-card">
        <h4>Create your own widget</h4>
        <p>
          <!-- Redirect to dev docs -->
        </p>
      </div>
    </div>

  </div>
</div>

<style>
  .info-card {
    min-height: 200px;
  }

  .title-container {
    padding-top: 30px;
  }

</style>





