@import "./../node_modules/ng2-dnd/bundles/style.css";
@import "./../node_modules/angular-calendar/css/angular-calendar.css"; // Angular calendar CSS
@import "~ng-pick-datetime/assets/style/picker.min.css"; // Angular datetimepicker CSS

/* White form background due to Material autofill handling */
input:-webkit-autofill, textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Remove border after click on the Material buttons */
button:focus {
  outline:0;
}

/* Calendar cell heights in month view */
.cal-month-view .cal-day-cell {
  min-height: 40px !important;
  max-height: 60px  !important;
}

/* Hide calendar event color dots */
.cal-month-view .cal-event {
  display: none;
}

/* Fix of big margin of day numbers in month calendar */
.cal-month-view .cal-day-number {
  margin-right: 2px;
  margin-top: 2px;
}

/* Fix of big font of current day number in month calendar*/
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em;
}

/* Scrollbar on the side of all modal dialogs */
.modal-dialog{
  overflow-y: initial !important
}

/* Sets size of the modal dialog with auto overflow */
.modal-body{
  height: 350px;
  overflow-y: auto;
}
