@import "./../node_modules/ng2-dnd/bundles/style.css";
@import "./../node_modules/angular-calendar/css/angular-calendar.css";

/* White form background due to Material autofill handling */
input:-webkit-autofill, textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Remove border after click on the Material buttons */
button:focus {
  outline:0;
}
